language: c
dist: xenial
sudo: required

env:
  global: PYTHON_VERSION=3.7 TRAVIS_PYTHON_VERSION=3.7 CONDA_VERSION=">=4.7.5"
          CONDA_ENVIRONMENT="environment.yml"

matrix:
  include:
    - os: linux
      env: USE_NUMBA="yes"

    - os: linux
      env: USE_NUMBA="no"

    - os: osx
      env: USE_NUMBA="no"

before_install:
  - curl -O https://raw.githubusercontent.com/mmagnuski/borsar/master/environment.yml
  - git clone https://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda.sh

install:
  # Rvm overrides cd with a function so that it can hook into it to run
  # some scripts, see https://github.com/travis-ci/travis-ci/issues/8703
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then
      unset -f cd;
    fi;
  - hash -r
  # Useful for debugging any issues with conda
  - conda info -a

  # install dependencies
  - if [ "${USE_NUMBA}" == "yes" ]; then
      conda install numba;
    fi
  - conda install scikit-image
  - pip install codecov tqdm
  - python setup.py develop

script:
  # Your test script goes here
  - pytest --cov=borsar borsar/

after_success:
  - codecov
