language: python
python:
  - "3.5"
  - "3.6"
install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # install dependencies
  - curl -O https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml
  - conda env create -f environment.yml
  - source activate mne
  - pip install codecov tqdm
  - python setup.py develop

script:
  # Your test script goes here
  - pytest --cov=borsar borsar/

after_success:
  - codecov
